@{
    Layout = null;
}

<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="divport" content="width=device-width,
                                     initial-scale=1.0,
                                     maximum-scale=1.0">
    <title>Untitled Document</title>
    <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="~/Scripts/jquery-1.10.2.js" crossorigin="anonymous"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <link href="~/css/CourseInfoUI.css" rel="stylesheet" type="text/css">
    <script>
        $(document).ready(function ()
        {
            var token = window.localStorage.getItem("jwt");
            var array = new Array();
            $.ajax(
                {
                    type: 'GET',
                    url: "/api/course/" + window.localStorage.getItem("courseID"),
                    data: "",
                    contentType: "application/json; charset=utf-8",
                    headers: { "Authorization": "Bearer " + token },
                    dataType: "json",
                    success: function (result)
                    {
                        $(".title").text(window.localStorage.getItem("courseName"));
                        $("#teacherName").text("老师: " + result.teacher.name);
                        $("#teacherMail").text("邮箱: " + result.teacher.email);
                        
                        $("#teacherDes").text("简介: " + result.description);
                    }
                })
            $.ajax(
                {
                     type: 'GET',
                     url: "/api/course/" + window.localStorage.getItem("courseID") + "/class",
                     data: "",
                     contentType: "application/json; charset=utf-8",
                     headers: { "Authorization": "Bearer " + token },
                     dataType: "json",
                     success: function (result) {
                         $.each(result, function (i, value) {
                             if (i == 0) {
                                 $("#defaultValue").text(value.name);
                                 $("#location").text("地点：" + value.site);
                                 $("#number").text("班级人数：" + value.number);
                             }
                             $("#lis").append('<li>' + '<a href="#" class="abc">' + value.name + '</a>' + '</li>');
                             array.push(value);
                         });
                         //window.localStorage.setItem('classID', array[0].id);
                        }
                })
            $(document).on("click", ".abc", function () {
                var a = this.text;
                // alert(a);
                for (var x in array) {
                    // alert(array2[x]);

                    if (a == array[x].name) {
                        //window.localStorage.setItem('seminarID', array[x].id);
                        //e.preventDefault();  // 阻止链接跳转
                        //var url = this.href;  // 保存点击的地址
                        
                        //$('nav a.current').removeClass('current');
                        //$(this).addClass('current');
                        
                        //$('#container').remove();
                        //$('#content').load(url + ' #container').fadeIn('slow'); // 加载新内容,url地址与该地址下的选择器之间要有空格,表示该url下的#container
                        $("#defaultValue").text(array[x].name);
                        $("#location").text("地点："+array[x].site);
                        $("#number").text("班级人数："+array[x].number);
                        break;
                    }

                }
                //$(window).attr("location", '/SeminarUI/Seminar');
            })
        })
    </script>
</head>
<body class="body">
    <div class="topBox">
        <span class="title"> OOAD</span>
    </div>
    <div style="margin-top: 18%">
        <img class="UserImg" src="~/images/CourseInfo/UserIcon.png" />
        <p class="NameText" id="teacherName"></p>
    </div>
    <div>
        <img class="MailImg" src="~/images/CourseInfo/MailIcon.png" />
        <p class="MailText" id="teacherMail"></p>
    </div>
    <div>
        <img src="~/images/CourseInfo/HouseIcon.png" class="HouseImg" />
        <p class="ClassText">班级</p>
    </div>

    <div class="btn-group SmallText" style="margin-top: 1%">
        <span style="float:left;">时间: &nbsp; </span>
        <button type="button" class="btn btn-default dropdown-toggle btn-xs btn-group buttonTpye"
                data-toggle="dropdown" style="float:left;position: relative;font-size: 1em;" id="defaultValue">
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1" id="lis" style="font-size: 1em;">
        </ul>
    </div>

    <div class="SmallText">
        <span id="location">地点： </span>
    </div>
    <div class="SmallText">
        <span id="number">班级人数： </span>
    </div>
    <div>
        <img src="~/images/CourseInfo/FileIcon.png" class="PaperImg" />
        <p class="IntroText" id="teacherDes">简介</p>
    </div>
</body>
</html>
