@{
    Layout = null;
}

<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="divport" content="width=device-width,
                                     initial-scale=1.0,
                                     maximum-scale=1.0">
    <title>Untitled Document</title>
    <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="~/Scripts/jquery-1.10.2.js" crossorigin="anonymous"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <link href="~/css/Seminar.css" rel="stylesheet" type="text/css">
    <script>
        $(document).ready(function ()
        {
            var token = window.localStorage.getItem("jwt");
            $.ajax(
                {
                    type: 'GET',
                    url: "/api/seminar/" + window.localStorage.getItem("seminarID"),
                    data: "",
                    contentType: "application/json; charset=utf-8",
                    headers: { "Authorization": "Bearer " + token },
                    dataType: "json",
                    success: function (result)
                    {
                        //alert(result.name);
                        //alert(result.isfixed)
                        $(".title").text(result.coursename);
                        $(".title2").text(result.name);
                        if (result.isfixed == true)
                            document.getElementById("groupArea").setAttribute("class", "GroupBox");
                       // else{
                            //if (result.attendance >= 0 && result.attendance < 2)
                            //    document.getElementById("groupArea").setAttribute("class", "GroupBox");
                            //else
                            //alert("123")
                                //document.getElementById("groupArea").setAttribute("class", "greyGroupBox");
                       // }
                    }
                })
            $.ajax(
                {
                    type: 'GET',
                    url: "/api/seminar/" + window.localStorage.getItem("seminarID") + "/" + window.localStorage.getItem("classID"),
                    data: "",
                    contentType: "application/json; charset=utf-8",
                    headers: { "Authorization": "Bearer " + token },
                    dataType: "json",
                    success: function (result) {
                        //alert(result.attendance)
                        if (result.statu == 1 || result.statu == 0) {
                            document.getElementById("CallTheRoll").setAttribute("class", "CallBox");
                            document.getElementById("gradeOthers").setAttribute("class", "ScoreBox");
                        }
                        else {
                            document.getElementById("CallTheRoll").setAttribute("class", "greyCallBox");
                            document.getElementById("gradeOthers").setAttribute("class", "greyScoreBox");
                        }
                        if (result.statu == 0) {
                            
                            document.getElementById("groupArea").setAttribute("class", "GroupBox");
                        }
                        else {
                            document.getElementById("groupArea").setAttribute("class", "greyGroupBox");
                        }
                    }
                })
        })
        $(document).on("click", ".GroupBox", function ()
        {
            var token = window.localStorage.getItem("jwt");
            $.ajax(
                {
                    type: 'GET',
                    url: "/api/group/" + window.localStorage.getItem("seminarID") + "/" + window.localStorage.getItem("id"),
                    data: "",
                    contentType: "application/json; charset=utf-8",
                    headers: { "Authorization": "Bearer " + token },
                    dataType: "json",
                    success: function (result) {
                        window.localStorage.setItem("groupID", result.id);
                        window.localStorage.setItem("leaderID", result.leaderId);
                        $(window).attr("location", '/GroupUI/GroupUI');
                    },
                    error: function (result) {
                        alert(result.responseText);
                    }
                })
            
        })
        $(document).on("click", ".CallBox", function ()
        {
            if (window.localStorage.getItem("isCalled") == 1)
                alert("已成功签到");
            else
                window.location.href = "/Student/StudentRollCallUI";
        })
        $(document).on("click", ".ScoreBox", function ()
        {
            var token = window.localStorage.getItem("jwt");
            $.ajax(
                {
                    type: 'GET',
                    url: "/api/group/" + window.localStorage.getItem("seminarID") + "/" + window.localStorage.getItem("id"),
                    data: "",
                    contentType: "application/json; charset=utf-8",
                    headers: { "Authorization": "Bearer " + token },
                    dataType: "json",
                    success: function (result) {
                        window.localStorage.setItem("groupID", result.id);
                        window.localStorage.setItem("leaderID", result.leaderId);
                        $(window).attr("location", '/Student/Score');
                    },
                    error: function (result) {
                        alert(result.responseText);
                    }
                })
            
        })
    </script>

</head>
<body class="body">
    <div class="topBox">
        <span class="title"></span>
        <span class="title2"></span>
    </div>
    <div id="gradeOthers" class="ScoreBox">
        <span class="ScoreText">打分</span>
    </div>
    <div id="CallTheRoll" class="CallBox">
        <span class="CallText">签到</span>
    </div>
    <div id="groupArea" class="GroupBox">
        <span class="GroupText">组队和选题</span>
    </div>
</body>
</html>