@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <meta name="divport" content="width=device-width,
                                     initial-scale=1.0,
                                     maximum-scale=1.0">
    <title>Untitled Document</title>
    <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="~/Scripts/jquery-1.10.2.js" crossorigin="anonymous"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <link href="~/css/GroupList.css" rel="stylesheet" type="text/css">
    
    <script>
        var userIden = "leader";
        $(document).ready(function ()
        {
            $(".seminarblackword").html(window.localStorage.getItem("seminarName") + "<br/>" + window.localStorage.getItem("isFixed"));
            var token = window.localStorage.getItem("jwt");
            $.ajax(
                {
                    type: 'GET',
                    url: "/api/group/" + window.localStorage.getItem("groupID"),
                    data:"",
                    contentType: "application/json; charset=utf-8",
                    headers: { "Authorization": "Bearer " + token },
                    dataType: "json",
                    success: function (result)
                    {
                        //如果有组长的前提下
                        if (result.leader != null)
                        {
                            //显示出组长标志
                            with (document.getElementById("leaderIcon").style) { (display = "") }
                            with (document.getElementById("captain").style) { (display = "") }
                            with (document.getElementById("becomeLeader").style) { (display = "none") }
                            with (document.getElementById("hit").style) { (display = "none") }
                            //判断自己是否为组长
                            if (result.leader.id == window.localStorage.getItem("id"))
                                userIden = "leader";
                            else
                                userIden = "member";
                            //自己为组长的前提下，对辞职和选择话题显示的判断
                            if (userIden == "leader")
                            {
                                with (document.getElementById("resign").style) { (display = "") }
                                if (result.topics[0] == null)
                                {
                                    with (document.getElementById("topic").style) { (display = "none") }
                                    with (document.getElementById("chooseTopic").style) { (display = "") }
                                }
                                else
                                {
                                    with (document.getElementById("topic").style) { (display = "") }
                                    with (document.getElementById("chooseTopic").style) { (display = "none") }
                                    $("#topicContent").text("选题: " + result.topics[0].topicId + "  " + result.topics[0].topic.name);
                                }
                            }
                            //自己为组员的前提下，不显示辞职,只显示选好的话题
                            if (userIden == "member")
                            {
                                with (document.getElementById("resign").style) { (display = "none") }
                                if (result.topics[0] == null)
                                {
                                    with (document.getElementById("topic").style) { (display = "none") }
                                    with (document.getElementById("chooseTopic").style) { (display = "none") }
                                }
                                else
                                {
                                    with (document.getElementById("topic").style) { (display = "") }
                                    with (document.getElementById("chooseTopic").style) { (display = "none") }
                                    $("#topicContent").text("选题: " + result.topics[0].topicId + "  " + result.topics[0].topic.name);
                                }
                            }
                            $("#leader").html(result.leader.name + "<br/>" + result.leader.number);
                            $.each(result.members, function (i, value) {
                                if (value.number != result.leader.number) {
                                    var imgObj = " <img src=\"\\images\\GroupList\\user.png\"/>";
                                    $("#members").append('<div class="block">' + '<div class="panel-body">' + '<div class="column1">' + imgObj + '</div>' + ' <div class="column2">' + value.name + "<br/>" + value.number + '</div>' + '</div>' + '</div>');
                                }
                            });
                        }
                        //如果没有组长
                        else
                        {
                            //显示出当选组长的按钮
                            with (document.getElementById("leaderIcon").style) { (display = "none") }
                            with (document.getElementById("becomeLeader").style) { (display = "") }
                            with (document.getElementById("captain").style) { (display = "none") }
                            with (document.getElementById("hit").style) { (display = "") }
                            with (document.getElementById("chooseTopic").style) { (display = "none") }
                            if (result.topics[0] == null)
                            {
                                with (document.getElementById("topic").style) { (display = "none") }
                            }
                            else 
                            {
                                with (document.getElementById("topic").style) { (display = "") }
                            }
                            with (document.getElementById("resign").style) { (display = "none") }
                            $.each(result.members, function (i, value) {
                                //if (value.number != result.leader.number) {
                                    var imgObj = " <img src=\"\\images\\GroupList\\user.png\"/>";
                                    $("#members").append('<div class="block">' + '<div class="panel-body">' + '<div class="column1">' + imgObj + '</div>' + ' <div class="column2">' + value.name + "<br/>" + value.number + '</div>' + '</div>' + '</div>');
                               // }
                            });
                        }
                       // $("#topicContent").text("选题: " + result.topics[0].id + "  " + result.topics[0].topic.name);
                        //$("#leader").html(result.leader.name + "<br/>" + result.leader.number);
                        //$.each(result.members, function (i, value)
                        //{
                        //    if (value.number != result.leader.number) {
                        //        var imgObj = " <img src=\"\\images\\GroupList\\user.png\"/>";
                        //        $("#members").append('<div class="block">' + '<div class="panel-body">' + '<div class="column1">' + imgObj + '</div>' + ' <div class="column2">' + value.name + "<br/>" + value.number + '</div>' + '</div>' + '</div>');
                        //    }
                        //});
                        //if (window.localStorage.getItem("currentGM") == "fixed")
                        //{
                        //    with (document.getElementById("groupingMethod1").style) { (display = "none") }
                        //    with (document.getElementById("groupingMethod2").style) { (display = "") }
                        //}
                        //else
                        //{
                        //    with (document.getElementById("groupingMethod1").style) { (display = "") }
                        //    with (document.getElementById("groupingMethod2").style) { (display = "none") }
                        //}
                    },
                    error: function (result) {
                        alert(result.responseText);

                    }
                })
        })
        $(document).on("click",".btnquit",function ()
        {
            var token = window.localStorage.getItem("jwt");
            $.ajax(
                {
                    type: 'PUT',
                    url: "/api/group/" + window.localStorage.getItem("groupID") + "/resign",
                    data: "",
                    contentType: "application/json; charset=utf-8",
                    headers: { "Authorization": "Bearer " + token },
                    dataType: "json",
                    success: function (result)
                    {
                        //$(window).attr("location", '/FixedGroup/FixedGroupLeaderUI2');
                        with (document.getElementById("resign").style) { (display = "none") }
                        with (document.getElementById("leaderIcon").style) { (display = "none") }
                        with (document.getElementById("becomeLeader").style) { (display = "") }
                        with (document.getElementById("hit").style) { (display = "") }
                    }

                })
        })
        $(document).on("click", ".btntopic", function ()
        {
            $(window).attr("location", '/GroupUI/GroupChooseTopicUI');
            with (document.getElementById("topic").style) { (display = "") }
            with (document.getElementById("chooseTopic").style) { (display = "none") }
        })
        $(document).on("click", ".btnleader", function () {
            var token = window.localStorage.getItem("jwt");
            $.ajax(
                {
                    type: 'PUT',
                    url: "/api/group/" + window.localStorage.getItem("groupID") + "/assign",
                    data: "",
                    contentType: "application/json; charset=utf-8",
                    headers: { "Authorization": "Bearer " + token },
                    dataType: "json",
                    success: function (result)
                    {
                        with (document.getElementById("resign").style) { (display = "") }
                        with (document.getElementById("leaderIcon").style) { (display = "") }
                        with (document.getElementById("becomeLeader").style) { (display = "none") }
                        with (document.getElementById("hit").style) { (display = "none") }
                    }

                })
        })
    </script>
</head>
<body class="fullbackground">
    <div class="columndisplay">
        <img class="UsersIcon" src="~/images/GroupList/users.png"/>
        <label class="seminarblackword" id="groupingMethod"></label>
    </div>

    <div class="whiteword">
        <div class="panel-body">
            <div class="column4">分组信息：</div>
            <div class="column3"><button class="btnquit" id="resign">辞职</button></div>
        </div>
    </div>

    <div class="block" id="captain">
        <div class="panel-body">
            <div class="column1"><img src="~/images/GroupList/user.png"/></div>
            <div class="column2" id="leader"></div>
            <div class="column3 rightblueword" id="leaderIcon">队长</div>
        </div>
    </div>
   
    <div id="members"></div>

    <div class="whiteword" id="topic">
        <div class="panel-body">
            <div id="topicContent">选题：</div>
        </div>
    </div>

    <div class="middlediv">
        <button class="btntopic" id="chooseTopic">选择主题</button>
        <button class="btnleader" id="becomeLeader">成为队长</button>
        <p class="middlegreyword" id="hit">您的队伍还没有队长，您可以选择成为队长。</p>
    </div>

</body>
</html>
