@{
    Layout = null;
}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>课程管理系统</title>
    <link href="~/css/ChooseSchool.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script>
        $(document).ready(function ()
        {
            var token = window.localStorage.getItem("jwt");
            $("#province").text(window.localStorage.getItem("province"));
            $("#city").text(window.localStorage.getItem("city"));      
            $.ajax({
                type: 'GET',
                url: "/api/school/city=" + window.localStorage.getItem("city"),
                data: "",
                contentType: "application/json; charset=utf-8",
                headers: { "Authorization": "Bearer " + token },
                dataType: "json",
                success: function (data) {
                    $.each(data, function (i, value) {
                        $("#schools").append('<li id=\"ptr\" class=\"ptr\">' + value.name + '</li>');                        
                    });
                },
                 error: function (data) {
                    alert(data.responseText);
                }
            }) 
            $("#city").click(function ()
            {
                window.localStorage.setItem('city', "");
                $(window).attr("location", '/Login/ChooseSchool_city');
            })
            $("#province").click(function ()
            {
                window.localStorage.setItem('province', "");
                window.localStorage.setItem('city', "");
                $(window).attr("location", '/Login/ChooseSchool_province');
            })
            $("#noSch").click(function ()
            {
                $(window).attr("location", '/Login/CreateSchool');
            })
        });
        $(document).on("click", ".ptr", function ()
        {
            window.localStorage.setItem('school', $(this).text());
            if (window.localStorage.getItem("type") == "student") $(window).attr("location", '/Login/StudentBindingUI');
            else $(window).attr("location", '/Login/TeacherBindingUI');     
        }); 
    </script>
</head>
<body>
    <div class="topbox">
        <div class="fixTop">
            <img src="~/images/Theme/bulb.png" class="bulbimg" />
            <strong class="title0">请选择您的学校</strong>
            <img class="img" src="~/images/Theme/background.jpg" />
        </div>
        <!--这个class与js有关 实现列表切换-->
        <div>
            <div class="fixTop title">
                <div id="province"></div>
                <div id="city"></div>
                <div id="school" class="cur">学校</div>
            </div>
            <div class="list">
                <ol id="schools"></ol>
                <ol id="noSch" class="str" ><a href="#">无学校？选择创建</a></ol>
            </div>
        </div>
    </div>
</body>
</html>
