@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="divport" content="width=device-width,
                                     initial-scale=1.0,
                                     maximum-scale=1.0">
    <title>课程管理系统</title>
    <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="~/css/RollStartCallUI.css"/>
    <script src="~/Scripts/jquery-1.10.2.js" crossorigin="anonymous"></script>
    <script>
        var token = window.localStorage.getItem("jwt");
        $(document).ready(function ()
        {
            $.ajax({
                type: "GET",
                url: "/api/class/" + window.localStorage.getItem("classID"),
                data: "",
                contentType: "application/json; charset=utf-8",
                headers: { "Authorization": "Bearer " + token },
                dataType: "json",
                success: function (result) {
                    $("#className").text(result.name);
                    $("#numStudent").text("学生总数:" + result.numStudent);
                    $.ajax({
                        type: "GET",
                        url: "/api/seminar/" + window.localStorage.getItem("seminarID") + "/class/" + window.localStorage.getItem("classID") + "/attendance/present",
                        data: "",
                        contentType: "application/json; charset=utf-8",
                        headers: { "Authorization": "Bearer " + token },
                        dataType: "json",
                        success: function (result2) {
                            $.ajax({
                                type: "GET",
                                url: "/api/seminar/" + window.localStorage.getItem("seminarID") + "/class/" + window.localStorage.getItem("classID") + "/attendance/late",
                                data: "",
                                contentType: "application/json; charset=utf-8",
                                headers: { "Authorization": "Bearer " + token },
                                dataType: "json",
                                success: function (result3) {
                                    var a = parseInt(result2.numPresent) + parseInt(result3.numLate);
                                    $("#numPresent").append("已签到学生:" + a + "/" + result.numStudent);
                                },
                                error: function (data3) {
                                    alert(data3.responseText);

                                }
                            })
                        },
                        error: function (data2) {
                            alert(data2.responseText);

                        }
                    })
                },
                error: function (data) {
                    alert(data.responseText);

                }
            })
        });
        //签到名单Button
        $(document).on("click", ".blueBigBtn", function ()
        {
            $(window).attr("location", "/Teacher/RollCallEndUI");   
        });
        //查看分组Button
        $(document).on("click", ".greenBigBtn", function ()
        {
            $(window).attr("location", "/Teacher/FIxedGroupInfoUI");
        });
    </script>
</head >
            <body>

                <!--设置左上角的蓝色板-->
    <div class="blueBoardDiv">
                    <img src="~/images/themes/blueBoard.png" class='blueBoardIcon' />
                </div>


                <!--班级1 的字样-->
    <div class='classNameDiv' id="className"></div>

                <!--学生总数：40 的字样-->
    <div class='studentSumDiv' id="numStudent"></div>

                <!--细线，hr不好设置css，用一个高度很小的div来代替-->
    <div class="hrDiv"></div>

                <!--已签到的学生以及那个icon,当签到开始及结束时，这个
    部分在中央。当签到开始后结束前，这部分在左边，见.studentNum2。-->

    <div class="studentNum" id="numPresent">
                    <img src="~/images/themes/users.png" class="usersIcon" />
    </div>

                <!--下面是button，分为BigBtn和SmallBnt,只有正在签到时
    的 签到名单按钮 是SmallBnt。 当使用greyBigBtn的时候要加
    上提示语。-->
    <div>
                    <button type="button" class="blueBigBtn" >签到名单</button>
                </div>

                <div>
                    <button type="button" class="greenBigBtn">查看分组</button>
                </div>

            </body>
</html >
