@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="divport" content="width=device-width,
                                     initial-scale=1.0,
                                     maximum-scale=1.0">
    <title>课程管理系统</title>
    <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="~/css/RollCallListUI.css">
    <script src="~/Scripts/jquery-1.10.2.js" crossorigin="anonymous"></script>
    <script>
        var token = window.localStorage.getItem("jwt");
        $(document).ready(function ()
        {
            $.ajax({
                type: "GET",
                url: "/api/class/" + window.localStorage.getItem("classID"),
                data: "",
                contentType: "application/json; charset=utf-8",
                headers: { "Authorization": "Bearer " + token },
                dataType: "json",
                success: function (result)
                {
                    $("#className").text(result.name);
                    $.ajax({
                        type: "GET",
                        url: "/api/seminar/" + window.localStorage.getItem("seminarID") + "/class/" + window.localStorage.getItem("classID") + "/attendance/present",
                        data: "",
                        contentType: "application/json; charset=utf-8",
                        headers: { "Authorization": "Bearer " + token },
                        dataType: "json",
                        success: function (result2)
                        {
                            $("#numPresent").append("已签到学生：" + result2.numPresent + "/" + result.numStudent);
                            $.each(result2.attendances, function (i, value)
                            {
                                var imgObj = "<img src=\"\\images\\themes\\user.png\" class=\'userIcon\' />";
                                if (i % 2 == 0)
                                    $("#students").append('<div class=\'studentLeftBlock\'>' + imgObj + '<span class=\"studentName\">' + value.name + '</span ></div > ');
                                else
                                    $("#students").append('<div class=\'studentRightBlock\'>' + imgObj + '<span class=\"studentName\">' + value.name + '</span ></div > ');

                            });
                        },
                        error: function (data2)
                        {
                            alert(data2.responseText);

                        }
                    })
                },
                error: function (data)
                {
                    alert(data.responseText);
                }
            })
        });
    </script>
</head>
<body>
    <!--设置左上角的蓝色板-->
    <div class="blueBoardDiv">
        <img src="~/images/themes/blueBoard.png" class='blueBoardIcon' />
    </div>


    <!--班级1 的字样-->
    <div class='classNameDiv' id="className"></div>

    <!--学生总数：40 的字样-->
    <div class='studentSumDiv' id="numPresent"></div>


    <!--学生名单上面那个蓝色的bar-->
    <div class='studentListBarDiv'>
        <span class="barText"> 已签到学生</span>
    </div>

    <!--学生块，分为左边的和右边的，增加学生的时候选择好左边或者
    右边后直接复制就好，之后在span下面修改学生名字-->
<div id="students">
</div>
   



</body>
</html>

