@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="divport" content="width=device-width,
                                     initial-scale=1.0,
                                     maximum-scale=1.0">
    <title>课程管理系统</title>
    <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="~/css/RollCallListUI.css">
    <script src="~/Scripts/jquery-1.10.2.js" crossorigin="anonymous"></script>
    <script>
        $(document).ready(function () {
            $.ajax({
                type: "GET",
                url: "/api/class/23",
                data: "",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (result) {
                    $("#className").text(result.Data.name);
                }
            })
            $.ajax({
                type: "GET",
                url: "/api/seminar/52/class/32/attendance",
                data: "",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (result) {
                    $("#numPresent").append("签到学生：" + result.Data.numPresent + "/" + result.Data.numStudent);
                }
            })
            $.ajax({
                type: 'GET',
                url: "/api/seminar/52/class/32/attendance/present",
                data: "",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (result) {
                    $.each(result.Data, function (i, value) {
                        var imgObj = "<img src=\"\\images\\themes\\user.png\" class=\'userIcon\' />";
                        if (i % 2 == 0)
                            $("#presentStudents").append('<div class=\'studentLeftBlock\'>' + imgObj + '<span class=\"studentName\">' + value.name + '</span ></div > ');
                        else
                            $("#presentStudents").append('<div class=\'studentRightBlock\'>' + imgObj + '<span class=\"studentName\">' + value.name + '</span ></div > ');
                    });
                }
            })
            $.ajax({
                type: 'GET',
                url: "/api/seminar/52/class/32/attendance/late",
                data: "",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (result) {
                    $.each(result.Data, function (i, value) {
                        var imgObj = "<img src=\"\\images\\themes\\user.png\" class=\'userIcon\' />";
                        if (i % 2 == 0)
                            $("#lateStudents").append('<div class=\'studentLeftBlock\'>' + imgObj + '<span class=\"studentName\">' + value.name + '</span ></div > ');
                        else
                            $("#lateStudents").append('<div class=\'studentRightBlock\'>' + imgObj + '<span class=\"studentName\">' + value.name + '</span ></div > ');
                    });
                }
            })
            $.ajax({
                type: 'GET',
                url: "/api/seminar/52/class/32/attendance/absent",
                data: "",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (result) {
                    $.each(result.Data, function (i, value) {
                        var imgObj = "<img src=\"\\images\\themes\\user.png\" class=\'userIcon\' />";
                        if (i % 2 == 0)
                            $("#absentStudents").append('<div class=\'studentLeftBlock\'>' + imgObj + '<span class=\"studentName\">' + value.name + '</span ></div > ');
                        else
                            $("#absentStudents").append('<div class=\'studentRightBlock\'>' + imgObj + '<span class=\"studentName\">' + value.name + '</span ></div > ');
                    });
                }
            })
        });
    </script>

</head>
<body>
    <!--设置左上角的蓝色板-->
    <div class="blueBoardDiv">
        <img src="~/images/themes/blueBoard.png" class='blueBoardIcon' />
    </div>


    <!--班级1 的字样-->
    <div class='classNameDiv' id="className"></div>

    <!--学生总数：40 的字样-->
    <div class='studentSumDiv' id="numPresent"></div>

    <!--已签到学生-->
    <!--学生名单上面那个蓝色的bar-->
    <div class='studentListBarDiv'>
        <span class="barText">已签到学生</span>
    </div>

    <!--学生块，分为左边的和右边的，增加学生的时候选择好左边或者
    右边后直接复制就好，之后在span下面修改学生名字-->
  
    <div id="presentStudents">
    </div>
    

    <!--迟到学生-->
    <div class='studentListBarDiv'>
        <span class="barText">迟到学生</span>
    </div>
    <div id="lateStudents">
    </div>

    <!--缺勤学生-->
    <div class='studentListBarDiv'>
        <span class="barText">缺勤学生</span>
    </div>
    <div id="absentStudents">
    </div>
    


</body>
</html>

